.cabecalho {
    align-items: center;
    background-color: #c4c4c4;
    display: flex;
    justify-content: space-between;
    padding: 1.75rem 7.188rem;
}

.titulo {
    font-size: 2rem;
    font-weight: 600;
}

.links-header {
    font-size: 1.25rem;
    display: flex;
}

.links-header li {
    list-style: none;
}

.link-header {
    margin-right: 1rem;
    color: #000000;
    text-decoration: none;
}

.menu {
    display: none;
    background-color: rgba(255, 255, 255, 0);
}

.links-menu {
    display: none;
}

.links-menu li {
    margin-top: 1rem;
}

.link-menu {
    color: #000000;
    text-decoration: none;
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.container-principal {
    background: linear-gradient(90deg, #ffffff, #9198e5);
    padding: 2rem 14rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imagem-principal {
    height: 15rem;
    width: 15rem;
    margin-right: 8rem;
    margin-bottom: 2rem;
    border-radius: 64px;
    transition: 1s;
}

.imagem-principal:hover {
    scale: 1.2;
    border-radius: 124px;
}

.subtitulo {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
}

.descricao {
    line-height: 1.25rem;
}

.listas {
    background: linear-gradient(90deg, #ffffff, #9198e5);
    display: flex;
    justify-content: space-evenly;
    padding: 2.5rem;
    flex-wrap: wrap;
}

.lista {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.titulo-lista {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.hobbies {
    text-align: right;
}

.lista li {
    background-color: #DFDFDF;
    margin-right: 0.5rem;
    padding: 1rem;
    height: 6rem;
    width: 5rem;
    display: flex;;
    align-items: flex-end;
    text-align: center;
    border-radius: 0.5rem;
    transition: 1s;
    margin-top: 1rem;
}

.lista li:hover {
    background-color: #9198e5;
}

.rodape {
    background-color: #c4c4c4;
    display: flex;
    padding: 1rem 6rem;
    justify-content: space-between;
}

@media screen and (max-width:486px) {
    .links-header {
        display: none;
    }

    .menu {
        display: block;
        position: relative;
    }

    .linha {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
      }

    .menu-input {
        top:0;
        opacity:0;
        display:block;
        padding:0;
        margin:0;
        border:0;
        position: absolute;
        height:100%;
        width:100%;
      }
      
      .links-menu {
        display:block;
        position: absolute;
        background:white;
        height:auto;
        transform: scaleY(0);
        transform-origin: top left;
        transition-duration: 0.2s;
        -webkit-transform: scaleY(0);
        -webkit-transform-origin: top left;
        -webkit-transition-duration: 0.2s;
    }

    .menu-input:checked:after {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
      }
      .menu-input:checked ~ .links-menu {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
      }

      .container-principal {
        padding: 2rem;
        margin: 0 auto;
      }

      .imagem-principal {
        margin: 2rem auto;
      }

      .titulo-lista {
        text-align: center;
      }

      .lista {
        margin-bottom: 1rem;
      }
}